@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@plugin "daisyui"{
  themes: default --light
}

@plugin "daisyui/theme"{
   --color-primary: #FDF9F6;
}


.font-raleway {
  font-family: "Raleway", sans-serif;
  font-style: normal;
}

*{
  font-family: "Roboto Serif", serif;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "GRAD" 0;
}

